$breakToggle: 1023px
$breakLaptop: 1300px
$menuActiveColor: #fff200
$menuBgColor: #fff
.logo
  float: left
  padding-left: 14%
  padding-top: 22px
  padding-bottom: 21px
  @media (max-width: $breakLaptop)
    padding-left: 20px
.form-group
  padding: 20px 0
  width: 180px
  input
    width: 180px
    background-color: #e8e4f1
    height: 30px
    line-height: 30px
    padding-left: 8px
    padding-right: 44px
    float: left
  button
    width: 44px
    height: 30px
    text-align: center
    margin-left: -44px
    float: left
    cursor: pointers
    i
      color: #585858
.navbar
  width: 100%
  height: 70px
  background-color: $menuBgColor
  top: 0
  left: 0
  position: fixed
  z-index: 3
  &__form, &__list
    float: right
  &__form
    margin-right: 14%
    margin-left: 1%
    @media (max-width: $breakLaptop)
      margin-right: 20px
    @media (max-width: $breakToggle)
      display: none
  &__toggle
    display: none
    @media (max-width: $breakToggle)
      display: block
      position: absolute
      right: 20px
      line-height: 70px
      width: 44px
      text-align: center
      font-size: 1.5rem
      color: #232323
  &__item
    float: left
    min-width: 90px
    height: 70px
    text-align: center
    padding: 0px 28px
    a
      line-height: 70px
      display: block
      height: 100%
      width: 100%
      text-decoration: none
      color: #232323
    &:hover > a
      font-weight: bold
    &--sublevel
      float: none
    &--dropdown
      position: relative
      >.navbar__dropdown
        display: none
      &:hover
        >.navbar__dropdown
          display: block
  &__dropdown
    position: absolute
    background-color: rgba(0,0,0,.65)
    border-top: 2px solid $menuActiveColor
    min-width: 180px
    padding: 16px 0 16px 16px
    @media (max-width: $breakToggle)
      display: block
    &--level3
      left: 100%
      top: 0
  &__item--sublevel
    position: relative
    padding-left: 24px
    padding-right: 0
    text-align: left
    height: 37px
    a
      line-height: 37px
      color: #fff
      font-size: 0.875rem
      letter-spacing: 0.075em
      font-weight: 300
      padding-right: 16px
    &:before
      content: ""
      font-family: "FontAwesome"
      display: block
      position: absolute
      left: 5px
      top: 10px
      color: #fff
    &:hover
      >a
        color: $menuActiveColor
        font-weight: 300
      &:before
        content: ""
        color: $menuActiveColor
  .is-active > a
    font-weight: 700
@media (max-width: $breakToggle)
  .navbar
    &__list
      display: none
      background-color: #fff
      position: absolute
      width: 100%
      top: 70px
      max-height: 100vh
      overflow: auto
    &__dropdown
      display: block
      position: inherit
      width: 100%
      background-color: #fff
      border: none
      padding: 0
      &--level2
        li a
          padding-left: 8px
      &--level3
        left: 0
        li a
          padding-left: 16px

    &__item--sublevel
      &:before
        display: none
        content: ""
      &:hover
        >a
          color: #232323
          font-weight: 700
    &__item, &__item--sublevel
      width: 100%
      float: none
      height: 40px
      line-height: 40px
      padding: 0
      text-align: left
      &--dropdown
        position: relative
        height: auto
        >.navbar__dropdown
          display: block
        
      a
        padding: 0 16px 0 0
        color: #232323
        line-height: 40px
        max-width: 190px
        height: 40px
        display: block
        margin-left: auto
    .is-active a
      color: #232323